.videosPage{
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(43, 42, 42, 0.612), rgba(9, 9, 9, 0.475)), url("../../../public/assets/Backgrounds/5.jpg");
}