@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/jgf2rco.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maxWidth {
  max-width: 1200px;
  margin: auto;
}

.heading {
  /* text-decoration: underline rgb(243, 201, 86);
  text-underline-offset: 3px; */
}

.smallText {
  font-family: kepler-std-semicondensed-dis;
  font-style: italic;
}

.shadow {
  box-shadow: 12px 8px 12px rgb(101, 101, 101);
}